

/* hero area */

.heroArea{
    width: 100%;
    height: 500px;
}

.heroArea .slider{
    width: 100%;
    height: 100%;

}

.heroArea .slider .slideItem{
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../images/acm_desktopcta.jpg');
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 3rem;
    flex-wrap: wrap;
    text-align: center;
}


/* hero area */

/* short view */

.short-view{
    width: 960px;
    margin: 50px  auto;
}

.short-view-header{
    background-color: #6ECCAF;
    color: #FFF;
    text-align: center;
    padding: 10px 0;
    font-size: 20px;
}

.short-view-desc{
    margin: 30px 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.short-view-desc .short-view-desc-part{
    width: 25%;
    text-align: justify;
    padding: 10px 20px;
}

.short-view-desc-part input{
    background: transparent;
    margin-top: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    color: orange;
    font-size: 16px;
}

.desc-part-header{
    color: #6ECCAF;
    margin-bottom: 20px;
}

.desc-part-header h3{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#desc-icon{
    font-size: 25px;
    color: #fff;
    background-color: #6ECCAF;
    padding: 9px;
    margin-right: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.desc-part-body{
    line-height: 23px;
    font-weight: 100;
}

.desc-part-body ul li{
    list-style-type: none;
    margin: 5px 0;
}

.short-n-v .n-v-1 h4::after{
    content: '';
    background-color: #6ECCAF;
    height: 2px;
    width: 100%;
    display: block;
}

.short-n-v .n-v-1:last-child{
    margin-top: 10px;
}

/* short view */

/* tab home */

.home-tab{
    width: 960px;
    margin: 50px auto;
}

.home-tab-nav ul{
    background-color: #6ECCAF;
    width: 100%;
    border-bottom: 2px solid orange;
}

.home-tab-nav ul li{
    list-style: none;
    display: inline-block;
    color: #fff;
    background-color: #6ECCAF;
    padding: 10px 5px;
    font-weight: bold;
    border-bottom: none;
    cursor: pointer;
}

#teach-btn{
    margin-top: 20px;
    display: block;
    width: 100%;
    text-decoration: none;
    background-color: orange;
    padding: 2px 5px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    color: #fff;
    font-weight: bold;
    text-align: center;
}

.active{
    background-color: orange !important;
    color: #fff;
}

.home-tab-content{
    background-color: #6ECCAF;
    width: 100%;
    padding: 30px 50px;
    overflow: hidden;
}

.left-cont, .right-cont{
    width: 48%;
    padding: 20px;
    float: left;
}

.left-cont{
    border: 2px solid #fff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.right-cont h3::after{
    content: '';
    display: block;
    background-color: #fff;
    height: 2px;
    width: 80%;
    margin-top: 10px;
}

.right-cont p{
    margin-top: 12px;
    color: #000;
    opacity: 0.8;
    font-weight: 100;
    letter-spacing: 1px;
    text-align: justify;
}

.left-cont img{
    width: 80%;
}

.achievement-content{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    display: none;
    flex-wrap: wrap;
    transition: 0.5s linear;
    -webkit-transition: 0.5s linear;
    -moz-transition: 0.5s linear;
    -ms-transition: 0.5s linear;
    -o-transition: 0.5s linear;
    animation: moveing 0.5s ease;
    -webkit-animation: moveing 0.5s ease;
}

@keyframes moveing {
    from{
        transform:translateX(50px);
        -webkit-transform:translateX(50px);
        -moz-transform:translateX(50px);
        -ms-transform:translateX(50px);
        -o-transform:translateX(50px);
        opacity: 0;
    }
    to{
        transform:translateX(0);
        -webkit-transform:translateX(0);
        -moz-transform:translateX(0);
        -ms-transform:translateX(0);
        -o-transform:translateX(0);
        opacity: 1;
}
}

.achievement-content-active{
    display: block;
}

.tbc-3 h3{
    margin-bottom: 20px;
}

.home-tab-content .tbc-3 .left-cont, .home-tab-content .tbc-3 .right-cont{
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-top: 12px;
    color: #000;
    opacity: 0.8;
    font-weight: 100;
    letter-spacing: 1px;
    text-align: justify;
}

.home-tab-content .tbc-3 .left-cont img, .home-tab-content .tbc-3 .right-cont img{
    margin: 0 auto;
    height: 200px;
    width: auto;
}


/* tab home */

.mission{
    width: 100%;
    height: auto;
    margin: 70px 0;
}

.section-head{
    width: 100%;
    text-align: center;
}

.section-head h2{
    font-weight: bold;
    font-size: 40px;
}

.section-head h2::after{
    content: '';
    height: 2px;
    width: 300px;
    display: block;
    margin: 10px auto 40px auto;
    background-color: orange;
}

.section-content{
    margin-top: 40px;
    width: 800px;
    padding: 20px;
    margin: 0 auto;
    font-size: 20px;
    text-align: justify;
    border: 0.5px solid lightblue;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: -7px -7px 7px lightblue;
}

.section-content:hover{
    box-shadow: -2px -2px 7px lightblue;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    margin-top: 12px;
    color: #000;
    opacity: 0.8;
    font-weight: 100;
    letter-spacing: 1px;
    text-align: justify;
}

/* ================================================= */

/* ================================================= */

.notices{
    width: 960px;
    margin: 40px auto;
    padding: 0 10px;
}

.notices h2{
    margin: 40px 0;
    text-align: center;
    font-size: 35px;
}

.notices table{
    border: 1px solid #000;
    border-collapse: collapse;
    width: 100%;
}

.notices table tr th{
    border: 1px solid #000;
    padding: 5px 1px;
}

.notices table tr td{
    border: 1px solid #000;
    padding: 7px 1px;
    text-align: center;
}

.notices table tr td:nth-child(2){
    width: 85%;
}

/* ================================================= */

/* ================================================= */


.admission-page{
    width: 960px;
    margin: 40px auto;
    padding: 20px 5px;
}

.admission-page h2{
    margin: 20px 0;
    text-align: center;
    font-size: 35px;
}

.ad-page-cont{
    background-color: lightgray;
    padding: 10px;
}

.ad-page-cont h3{
    margin-bottom: 20px;
}

.ad-page-cont h3::after{
    content: '';
    height: 2px;
    width: 100%;
    display: block;
    background-color: orange;
    margin: 10px 0;
}

.ad-page-cont p{
    line-height: 30px;
}

.ad-page-cont a{
    margin-bottom: 20px;
    display: block;
}

/* ================================================= */

/* ================================================= */

/*================================================= contact page design ================================================= */

.contactpage{
    width: 960px;
    margin: 30px auto;
}

.social-section{
    width: 250px;
    margin: 20px auto;
}

.social-section .social-div{
    width: 100%;
    background-color: green;
    margin: 15px 0;
    overflow: hidden;
}

.social-section .social-div:active{
    animation: sociaMove 0.5s ease;
    -webkit-animation: sociaMove 1s ease;
}

@keyframes sociaMove {
    from{
        transform: rotateX(50deg);
        -webkit-transform: rotateX(50deg);
        -moz-transform: rotateX(50deg);
        -ms-transform: rotateX(50deg);
        -o-transform: rotateX(50deg);
}
    to{
        transform: rotateX(0);
        -webkit-transform: rotateX(0);
        -moz-transform: rotateX(0);
        -ms-transform: rotateX(0);
        -o-transform: rotateX(0);
}
}

.social-div .main-s-link{
    text-decoration: none;
    overflow: hidden;
    font-size: 25px;
    width: 100%;
    color: #fff;
}

.social-section .fb{
    background-color: #3b5998;
}

.social-div .social-link a{
    font-size: 25px;
    text-decoration: none;
    display: block;
    color: #fff;
}

.social-icon{
    width: 10%;
    float: left;
    padding: 10px;
}

.social-link{
    width: 85%;
    float: right;
    padding: 10px;
}

.messagebox{
    width: 768px;
    margin: 40px auto;
}

.messagebox h3, .ins-add h3, .social-section h3{
    text-align: center;
    font-size: 29px;
}

.messagebox h3::after, .ins-add h3::after, .social-section h3::after{
    content: '';
    height: 2px;
    width: 200px;
    margin: 8px auto;
    display: block;
    background-color: orange;
}

.messagebox form{
    width: 100%;
}

.messagebox form input, .messagebox form textarea{
    width: 100%;
    margin: 5px 0;
    outline: none;
    padding: 5px;
    font-size: 18px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.messagebox form input{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid lightcoral;
    box-shadow: inset 4px 2px 5px 0px #ccc,
    inset 1px 1px 5px 0px;
}

.messagebox form textarea{
    resize: none;
    box-shadow: inset 4px 2px 5px 0px #ccc,
    inset 1px 1px 5px 0px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid lightcoral;
}

.messagebox form button{
    background-color: orange;
    outline: none;
    cursor: pointer;
    font-size: 18px;
    border: none;
    padding: 8px 15px;
    width: 200px;
    margin: 0 auto;
    display: block;
}

.ins-add{
    width: 768px;
    margin: 40px auto;
}

.ins-add h3{
    text-align: center;
}


/* ================================================= */

/* ================================================= */


/* ================================================= */

/* ============================ 

blog page

===================== */

.blog{
    margin: 40px auto;
    width: 960px;
    overflow: hidden;
}


.blogpage-right-side{
    width: 30%;
    padding: 0 20px;
    float: right;
}

.hot-blog{
    background-color: #fff;
    overflow: hidden;
    width: 100%;
    display: block;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.blog-image{
    width: 100%;
    overflow: hidden;
}

.blog-image img{
    width: 100%;
    cursor: pointer;
}

.blog-image img:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transition: 1s ease-in-out;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -ms-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
}

.blog-short-cont{
    width: 100%;
    display: block;
    padding: 10px;
}

.blog-short-cont h4{
    font-size: 20px;
}

.blog-short-cont h4:hover{
    text-decoration: underline;
    cursor: pointer;
}

.blog-short-cont p{
    margin: 20px 0;
    font-weight: 300;
}

.blog-details{
    width: 100%;
    display: flex;
    align-items: center;
}

.blog-time{
    background-color: #f6c640;
}

.blog-date{
    background-color: #65aa72;
}

.blog-writter{
    background-color: #fd5f42;
}

.bl-dt{
    width: 33.34%;
    text-align: center;
    padding: 10px 0;
}

.single-blog{
    background-color: #fff;
    width: 48%;
    float: left;
    margin: 15px 1%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.single-blog .blog-details{
    font-size: 12px;
}

.pagination-sec{
    width: 100%;
    display: block;
    text-align: center;
    margin-top: 40px;
    background-color: #fff;
}

.pagination-sec button{
    cursor: pointer;
    padding: 2px 5px;
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 18px;
}

.pagination-sec button:hover{
    background-color: #39acc1;
}

.blogpage-left-side{
    width: 70%;
    padding: 0 20px;
    float: left;
}

.blog-alert-card{
    background-color: #fff;
    padding-bottom: 15px;
}

.blog-alert-head{
    width: 100%;
    display: block;
    padding: 5px;
    background-color: #39acc1;
    text-align: center;
    font-weight: bold;
}

#bl-al-det{
    display: block;
    width: 100%;
    margin: 40px 0;
    font-size: 18px;
    padding: 0 5px;
}

.blog-alert-card form{
    width: 98%;
    margin: 0 auto;
}

.blog-alert-card form input{
    width: 100%;
    padding: 8px 5px;
    border: lightblue;
    background-color: lightgray;
    outline: none;
    font-size: 18px;
    margin-bottom: 11px;
}

.blog-alert-card form button{
    background-color: orange;
    color: #fff;
    font-weight: bold;
    outline: none;
    border: 1px solid lightblue;
    cursor: pointer;
    padding: 8px 15px;
}

.member-req-card{
    background-color: #fff;
    margin-top: 15px;
    width: 100%;
    padding-bottom: 3px;
}

.member-req-card form{
    width: 98%;
    margin: 20px auto;
}

.member-req-card form label{
    font-size: 18px;
}

.member-req-card form input{
    width: 100%;
    padding: 5px 8px;
    font-size: 18px;
    outline: none;
    border: 1px solid lightblue;
    background-color: lightgray;
    margin-bottom: 10px;
}

.member-req-card form select{
    width: 100%;
    margin-bottom: 10px;
    padding: 5px 8px;
    font-size: 18px;
}

.member-req-card form section option{
    padding: 5px 8px;
}

.member-req-card form button{
    font-size: 17px;
    background-color: orange;
    cursor: pointer;
    outline: none;
    border: lightblue;
    padding: 8px 15px;
    width: 100%;
    font-weight: bold;
}

/* ============================ 

teacher page

===================== */

.teacher-section{
    width: 960px;
    margin: 0 auto;
    padding: 15px;
}

.teacher-section h2{
    text-align: center;
    font-size: 30px;
    margin: 40px 0;
}

.teacher-section h2::after{
    content: '';
    background-color: #39acc1;
    height: 2px;
    width: 270px;
    display: block;
    margin: 0 auto;
}

.principal, .ci{
    width: 100%;
    display: block;
    margin: 40px 0;
}

.principal .image, .ci .image{
    text-align: center;
}

.principal .intro, .ci .intro{
    margin: 20px 0;

}

.principal .intro p, .ci .intro p{
    letter-spacing: 1px;
}

.principal .image img, .ci .image img{
    width: 300px;
    height: auto;
}

.principal .describe, .ci .describe {
    padding: 0 10px;
}

.principal .describe p, .ci .describe p{
    font-size: 18px;
}

.second-panel{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.second-panel .teacher{
    width: 30%;
    margin: 18px 0;
    border: 1px solid #6ECCAF;
    position: relative;
    overflow: hidden;
}

.teacher .teacher-img{
    width: 100%;
    display: block;
    height: 300px;
    padding: 10px;
    background-color: lightgray;
}

.teacher-img img{
    height: 100%;
    width: auto;
}

.teacher .teacher-intro{
    margin-top: 10px;
    padding: 10px;
    line-height: 20px;
}

.teacher .teacher-contact{
    padding: 10px;
    border-top: 2px dotted lightgreen;
}

.teacher:hover .teacher-contact-shutter{
    height: 57px;
    left: 0;
    bottom: 0;
    transition: 0.8s;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -ms-transition: 0.8s;
    -o-transition: 0.8s;
}

.teacher-contact-shutter{
    background-color: #39acc1;
    padding: 10px;
    height: 0;
    position: absolute;
    left: 0;
    width: 100%;
}

.teacher-contact-shutter ul{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.teacher-contact-shutter ul li{
    list-style-type: none;
}

.teacher-contact-shutter ul li a{
    display: block;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

/* ============================ 

teacher page

===================== */